*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: #263238;
}


h1 {
    color: #F5F7FA;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Medium 16 */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 162.5% */
}

.topContainer{
    padding: 4px 20px;
    display: flex;
    flex-direction: row;
    border:1px solid white;
}

.topContainer .photoContainer{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    border:1px solid red;
    width: 80%;
}
.topContainer .photoContainer .textContainer{
    position: absolute;
    border:1px solid red;
    
}

.topContainer .logoContainer{
    border:1px solid blue;
    width: 20%;
}

.navbutton{
    width: 100%;
    height: 20px;
}

