*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(19, 14, 14, 0.734),rgba(0, 0, 0, 0.827) );
}
table, th, td {
    border: 1px solid white;
    text-decoration-color: white;
  }

.header{
    height: 8vh;
}
table { /* Set the height of table body */ 
 
  
    
    /* Set vertical scroll */ 
    overflow-y: auto; 
    
    /* Hide the horizontal scroll */ 
    overflow-x: hidden;  
} 
.tableContainer{
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: auto;
     
}