h3{
    color: white;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Medium 16 */
    z-index: 2;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
}

h4{
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    opacity: 0.5
    ;
    line-height: 26px; /* 162.5% */
}
.buttonContainer{
    background-color: rgba(0, 0, 0, 0.296);
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    border-radius: 24px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    cursor: pointer;
   
}
.textparent{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 6px;
}
.textparent .textContainer{
    padding: 0px 2px;
}

.iconContainer{
    width: 200px;
    height: 200px;
    border-radius: 24px;
    display: flex;
    position: absolute;
    overflow: hidden;
}

.iconContainer img{
    filter: grayscale(100%);
   
}
.iconContainer img:hover{
    filter: grayscale(50%);
}
